@import "tailwindcss";

.custom-input input {
  text-align: center !important;
}

.ant-btn-variant-solid {
  background-color: #3f8c8e !important;
}

.ant-btn-variant-outlined {
  background-color: #009398 !important;
}
